{% extends 'base.html' %}
{% block content %}
<main class="form-signin m-auto" style="width: 400px; background-color:white; box-shadow: 6px 6px 4px 6px rgba(0, 0, 0, 0.1); margin-top: 20px; margin-bottom: 20px;">
    <h1 style="color: black;">Login</h1><br>
    <form action="{{ url_for('admin_login') }}" method="POST">
        <div class="form-floating">
            <input type="text" id="username" name="username" class="form-control" required>
            <label for="username">Username</label>
        </div><br><br>
        
        <div class="form-floating">
            <input type="password" class="form-control" name="password" required>
            <label for="password">Password</label>
        </div><br>
        <div>
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Remember me</label>
        </div><br>
        <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
    </form>
</div>
{% endblock %}
