<!DOCTYPE html>
<html lang="en">
<head>
    <title>KIIT BLOG-PAGE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-tertiary bg-tertiary">
    <div class="container">
        <!-- Logo and Name -->
        <div class="d-flex align-items-center">
            <img src="{{ url_for('static', filename='images/kiit.jpg') }}" width="55px" height="40px" alt="Image 1">
            <p class="mb-0 ms-2 text-dark">Kenya Institute Of Information Technology</p>
        </div>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                {% if 'admin' in session %}
                <li class="nav-item"><a class="butn" href="{{ url_for('add_post') }}">Add Post</a></li>
                <li class="nav-item"><a class="butn"href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_login') }}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
  </nav>

  <!-- Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <!-- Content Block -->
  <div class="container mt-4">
      {% block content %}{% endblock %}
  </div>

  <footer>
    <p>&copy; 2025 Kenya Institute Of Information Technology. All rights reserved.</p>
</footer>

  <!-- Correct Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
