{% extends 'base.html' %}
{% block content %}

<h2>Edit Post</h2>

<!-- Display flash messages -->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST">
    <div class="form-floating">
        <label for="title">Title:</label><br><br>
        <input type="text"  class="form-control" name="title" required><br>
     </div>
     <div class="form-floating">
        <label for="content">Content:</label><br><br>
        <textarea class="form-control"   name="content" rows="7" required></textarea><br>
     </div>
     <div class="form-floating">
        <label for="image_url">Image URL:</label><br><br>
        <input type="text"  class="form-control" name="image_url" required><br>
     </div>
     <button class="btn btn-primary w-100 py-2" type="submit">Update</button>
    </form>

<a href="{{ url_for('home') }}">Back to Home</a>

{% endblock %}
